# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\JPMC-Data\Udemy trainings\ReactJS\Modern React with Redux 2020\workspace\Section 18-19 async action with think memoized version\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
